<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon> 
            AngularMovies
        </a>
    </span>
    <!--Rout to Genre Component-->
    <div>
        <a mat-button routerLink="genres">
            Genres
        </a>
    </div>
    <!--Rout to Actors Component-->
    <div>
        <a mat-button routerLink="actors">
            Actors
        </a>
    </div>
    <!--Rout to Movie-Theaters Component-->
    <div>
        <a mat-button routerLink="movietheaters">
            Movie Theaters
        </a>
    </div>
    <!--Rout to Movies Create Component-->
    <div>
        <a mat-button routerLink="movies/create">
            Create Movie
        </a>
    </div>
</mat-toolbar>